<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="aw\Object">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">aw</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="reports/coverage-html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>